
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<form>
    帳號:<input id="email" name="email" type="text" value="" /><br />
    密碼:<input id="password" name="password" type="password" value="" /><br />
    年齡:<input type="number" name="" value="" /><br />
    性別:<input type="radio" name="gender" value="A" />男生
    <input type="radio" name="gender" value="B" />女生<br />
    興趣:<input type="checkbox" name="reading" value="A" />看書
    <input type="checkbox" name="swiming"value="A" />游泳

</form>
